.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    /*min-width: 250px;*/
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar__tweet {
    /* !important ovverides material compoents own style
    So we use it for that */
    background-color: var(--twitter-color) !important;
    border: none im !important;
    color: white !important;
    font-weight: 900 i !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px im !important;
    margin-top: 20px n !important;
}